html {
	height:100%;
}

body {
	min-height:100%;
}

body
{
	display: flex;
	flex-direction: column;
}

body > header
{
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
}

body > main
{
	flex: 1 0 auto;
}

body > footer
{
	flex-shrink: 0;
}

body > header,
body > header *
{
	white-space: nowrap;
}

a
{
	text-decoration: none !important;
}

article div > section
{
	margin-top: 2rem;
}
article div > section > section
{
	margin-bottom: 2.25rem;
}

a.poxy-external
{
	font-weight: normal;
}
pre.m-code a,
pre.m-console a
{
	font-weight: inherit !important;
	color: inherit !important;
}
pre.m-code a:hover,
pre.m-console a:hover
{
	text-decoration: underline !important;
}

/* nav bar */
nav .m-thin
{
	margin-left: 0.5em;
}
nav .poxy-icon img,
nav .poxy-icon svg
{
	width: 1.5rem !important;
	height: 1.5rem !important;
	vertical-align: -18.5%;
}
body > header > nav #m-navbar-collapse a.m-doc-search-icon svg
{
	width: 1.25rem !important;
	height: 1.25rem !important;
	vertical-align: -12.5%;
}
nav #m-navbar-brand img
{
	vertical-align: -17.5% !important;
}
nav a.poxy-icon.theme:hover
{
	color: var(--header-link-active-color) !important;
	border-color: var(--header-link-active-color) !important;
	background-color: var(--header-link-active-background-color) !important;
}
nav a.poxy-icon.theme:active,
nav a.poxy-icon.theme:focus
{
	color: inherit !important;
	border-color: inherit !important;
	background-color: inherit !important;
}
@media screen and (max-width: 768px)
{
	nav .m-thin, nav .repo
	{
		display: none;
	}
}

/* "Parameters", "Returns", subheadings inside description blocks, etc */
.m-doc-details div > h4,
.m-doc-details div > h5,
.m-doc-details div > h6,
.m-doc-details div > table.m-table th,
.m-doc-details div > table.m-table td > h3,
.m-doc-details div > table.m-table td > h4,
.m-doc-details div > table.m-table td > h5,
.m-doc-details div > table.m-table td > h6,
.m-doc-details div > table.m-table td > strong > em,
.m-doc-details div > table.m-table td > p > strong > em
{
	font-style: normal;
	color: var(--article-heading-color);
}
.m-doc-details div > table.m-table td > strong > em,
.m-doc-details div > table.m-table td > p > strong > em
{
	display: block;
}
.m-doc-details div > table.m-table td > strong:not(:first-child) > em,
.m-doc-details div > table.m-table td > p:not(:first-child) > strong > em
{
	margin-top: 1.0rem;
}

/* github badges (index.html) */
.gh-badges
{
	padding-bottom: 0.25rem;
	margin-left: -0.9rem;
	margin-right: -0.9rem;
	margin-top: -0.5rem;
}
@media screen and (min-width: 992px)
{
	.gh-badges
	{
		display: flex;
		justify-content: space-between;
	}
	.gh-badges br
	{
		display: none;
	}
}
@media screen and (max-width: 992px)
{
	.gh-badges
	{
		text-align: center;
		line-height: 1.75rem;
	}
	.gh-badges a
	{
		margin-left: 0.2rem;
		margin-right: 0.2rem;
		margin-bottom: 0.4rem;
	}
}

/* page category subheading ("module" etc) */
h1 span.m-thin
{
	color: var(--dim-color);
}

/* banner on index page */
.poxy-main-banner
{
	margin-left: -1rem !important;
	margin-right: -1rem !important;
	margin-top: -1.75rem !important;
	max-width: calc(100% + 2rem) !important;
}

/* include <blah.h> */
.m-doc-details div h3
{
	overflow: auto;
}
h1 .m-doc-include,
h3 .m-doc-include
{
	float: right;
}
h1 .m-doc-include *,
h3 .m-doc-include *
{
	opacity: 1.0 !important;
}
h1 .m-doc-include .cp,
h3 .m-doc-include .cp
{
	color: var(--dim-color);
}

/* "Try this code on Compiler Explorer" */
.godbolt
{
	font-family: 'Source Sans Pro', sans-serif;
}
p.godbolt
{
	text-align: center;
	padding: 0.0rem;
	text-indent: 0.0rem;
	opacity: 0.5;
}
p.godbolt:hover
{
	opacity: 1.0;
}
a.godbolt
{
	padding: 0.5rem;
	display: inline-block;
}
pre > p.godbolt
{
  float: right;
}
@media screen and (max-width: 768px)
{
	.godbolt
	{
		display: none;
	}
}

/* figures with captions */
figure.m-figure > figcaption
{
	font-weight: initial !important;
	font-size: 1rem !important;
	text-align: center;
	margin-top: initial;
}
figure.m-figure::before
{
	border-style: none !important;
}

/* headers in blocks and notes (warnings, remarks, attention, etc.) */
.m-block > h3,
.m-block > h4,
.m-note > h3,
.m-note > h4
{
	font-size: 1em;
}

/* sub-headings that are the last thing in a block */
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child
{
	margin-bottom: 0.0rem;
}

/* images in detail sections */
.m-doc-details table img.m-image
{
	margin-left: inherit;
}

/* table of contents */
@media screen and (min-width: 1350px) and (min-height: 900px)
{
	.poxy-toc
	{
		position: fixed;
		top: 9rem;
		left: calc(50% + 430px);
		min-width: 200px;
		z-index: 5;
		margin: 0px 20px 0px 0px !important;
	}
}

/* 'dim' blocks and notes */
.m-block.m-dim pre.m-code,
.m-note.m-dim pre.m-code
{
	opacity: 0.85;
}

/* lists */
.m-block li,
.m-note li,
section > ul li,
section > ol li
{
	margin-bottom: 0.2rem;
}
.m-block li:last-child,
.m-note li:last-child,
section > ul li:last-child,
section > ol li:last-child
{
	margin-bottom: initial;
}

/* nested lists */
.m-block li > ul > li:first-child,
.m-note li > ul > li:first-child,
.m-block li > ol > li:first-child,
.m-note li > ol > li:first-child
{
	margin-top: 0.2rem;
}

/* detail section headers */
article section.m-doc-details > div > h3:first-child
{
	background-color: var(--header-background-color);
}

/* detail sections */
article section.m-doc-details > div::before
{
	border-color: var(--header-background-color) !important;
	background-color: var(--detail-section-background-color)
}

/* namespace/class/struct etc prefixes in treeviews */
ul.m-doc > li.m-doc-collapsible,
ul.m-doc > li.m-doc-collapsible > a:first-child,
ul.m-doc > li.m-doc-collapsible li
{
	color: var(--dim-link-color) !important;
}

/* implementation detail blocks */
pre.poxy-impl,
code.poxy-impl
{
	color: var(--code-color-comments) !important;
}


/* ====================================================
  code blocks
==================================================== */

/* code blocks w/ output examples */
pre.m-code + pre.m-console
{
	margin-top: -1.0rem;
	font-size: 0.8rem;
}
pre.m-code + pre.m-console span
{
	color: #bababa; /* is yououou */
}

/* keywords */
.m-code .kt,
.m-code .k,
.m-code .nc
{
	font-weight: normal;
}

/* implementation detail blocks */
pre.poxy-impl,
code.poxy-impl
{
	padding: 0rem !important;
	margin: 0rem 0.2rem !important;
	font-weight: normal;
}
