/* Base theme colors - this block does not appear in m.css */
.poxy-theme-light
{
  --theme-hue: 215;
  --theme-saturation: 100%;
  --theme-luminosity: 50%;
  --theme-color:  hsl(var(--theme-hue), var(--theme-saturation), var(--theme-luminosity));
  --theme-text1: hsl(var(--theme-hue), var(--theme-saturation), 10%);
  --theme-text2: hsl(var(--theme-hue), 30%, 30%);
  --theme-surface1: hsl(var(--theme-hue), 25%, 90%);
  --theme-surface2: hsl(var(--theme-hue), 20%, 99%);
  --theme-surface3: hsl(var(--theme-hue), 10%, 80%);
  --theme-surface4: hsl(var(--theme-hue), 10%, 95%);
}

.poxy-theme-light { /* NOTE: in vanilla m.css this is the :root element */
  /* Text properties */
  --font: 'Source Sans Pro', sans-serif;
  --code-font: 'Source Code Pro', monospace;
  --font-size: 16px;
  --code-font-size: 0.9em; /* *not* rem, so it follows surrounding font size */
  --line-height: normal;
  --paragraph-indent: 1.5rem;
  --paragraph-align: justify;
  --link-decoration: underline;
  --link-decoration-nav: none;
  --link-decoration-heading: none;
  --nav-brand-case: uppercase;
  --nav-menu-case: none;
  --nav-heading-case: uppercase;
  --nav-categories-case: lowercase;
  --landing-header-case: lowercase;
  --heading-font-weight: 600;

  /* Shapes */
  --border-radius: 0.2rem;

  /* Basics */
  --background-color: var(--theme-surface4);
  --color: var(--theme-text1);
  --line-color: #bdc3c7;
  --link-color: var(--theme-color);
  --link-active-color: var(--theme-text2);
  --mark-color: #2f83cc;
  --mark-background-color: #c7cf2f;
  --button-background-color: #22272e;

  /* Code */
  --code-color: var(--theme-text1);
  --code-background-color: var(--theme-surface2);
  --code-note-background-color: rgba(250, 250, 250, 0.6);

  /* Console */
  --console-color: #fcfcfc;
  --console-background-color: #1a1c1d;

  /* Header */
  --header-border-width: 0 0 0.25rem 0;
  --header-color: var(--theme-surface1);
  --header-breadcrumb-color: var(--theme-surface1);
  --header-background-color: var(--theme-color);
  --header-background-color-landing: rgba(34, 39, 46, 0.75);
  --header-background-color-jumbo: rgba(34, 39, 46, 0.25);
  --header-link-color: var(--theme-surface2);
  --header-link-active-color: var(--theme-text1);
  --header-link-current-color: var(--theme-surface1);
  --header-link-active-background-color: var(--theme-surface3);
  --header-link-active-background-color-semi: #ebeaea80;

  /* Footer */
  --footer-font-size: 0.85rem;
  --footer-color: var(--theme-text2);
  --footer-background-color: var(--theme-surface3);
  --footer-link-color: var(--theme-text1);
  --footer-link-active-color:var(--theme-text2);

  /* Cover image */
  --cover-image-background-color: #0f1217;

  /* Search (used only by m-documentation.css) */
  --search-overlay-color: var(--header-background-color-landing);
  --search-background-color: var(--header-background-color);

  /* Article */
  --article-header-color: #f0f0f0;
  --article-footer-color: #c5c5c5;
  --article-heading-color: var(--theme-color);
  --article-heading-active-color: var(--theme-text2);

  /* Right navigation panel */
  --navpanel-link-color: #ffffff;
  --navpanel-link-active-color: #5787EF;

  /* Plots */
  --plot-background-color: #ced8de;
  --plot-error-color: #ffffff;

  /* Colored components */
  --default-color: var(--theme-text1);
  --default-link-active-color: var(--theme-text2);
  --default-filled-color: #151414;
  --default-filled-background-color: #d3d7d9;
  --default-filled-link-color: #134ECD;
  --default-filled-link-active-color: #5787EF;

  --primary-color:  hsl(var(--theme-hue), var(--theme-saturation), calc(var(--theme-luminosity) * 1.4));
  --primary-link-active-color: #dcdcdc;
  --primary-filled-color: var(--theme-text1);
  --primary-filled-background-color:  hsl(var(--theme-hue), var(--theme-saturation), calc(var(--theme-luminosity) * 1.6));
  --primary-filled-link-color: #2a75b6;
  --primary-filled-link-active-color: var(--theme-text2);

  --success-color: #31c25d;
  --success-link-active-color: #dcf6e3;
  --success-filled-color: #151414;
  --success-filled-background-color: #4dd376;
  --success-filled-link-color: #009929;
  --success-filled-link-active-color: #dcf6e3;

  --warning-color: #c7cf2f;
  --warning-link-active-color: #f6f6dc;
  --warning-filled-color: #151414;
  --warning-filled-background-color: #d1d34d;
  --warning-filled-link-color: #919900;
  --warning-filled-link-active-color: #f6f6dc;

  --danger-color: #f60000;
  --danger-link-active-color: #f6dddc;
  --danger-filled-color: #fafafa;
  --danger-filled-background-color: #e23e3e;
  --danger-filled-link-color: #f2c7c6;
  --danger-filled-link-active-color: #f6dddc;

  --info-color: #2e7dc5;
  --info-link-active-color: #c6ddf2;
  --info-filled-color: #fafafa;
  --info-filled-background-color: #4c93d3;
  --info-filled-link-color: #c6ddf2;
  --info-filled-link-active-color: #dbeaf7;

  --dim-color: #7c7c7c;
  --dim-link-color: #292929;
  --dim-link-active-color: #7c7c7c;
  --dim-filled-color: #656565;
  --dim-filled-background-color: #c5c4c4;
  --dim-filled-link-color: #292929;
  --dim-filled-link-active-color: #7c7c7c;
  --dim-button-active-color: #292929;
}
