name: ci

on:
    push:
        paths:
            - "**.py"
            - "**.css"
            - "**.js"
            - "**.json"
            - "**.xml"
            - "**/poxy/data/*"
            - "**/workflows/**.yaml"
            - "pyproject.toml"
        branches:
            - "**"
        tags-ignore:
            - "**"
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    linux:
        strategy:
            fail-fast: false
            matrix:
                doxygen:
                    - "1.9.3"
                    - "1.9.4"
                    - "1.9.5"
                    - "1.9.6"
                    - "1.9.7"
                    - "1.9.8"
                    - "1.10.0"
                    - "1.11.0"
                    - "1.12.0"
                    - "1.13.2"
                    - "1.14.0"
                    - "1.15.0"
                python:
                    - "3.8.12"
                    - "3.9"
                    - "3.10"
                    - "3.11"
                    - "3.12"
                    - "3.13"

        runs-on: ubuntu-latest

        defaults:
            run:
                shell: bash

        steps:
            - name: Install base dependencies
              run: |
                  sudo rm -f /var/lib/man-db/auto-update || true
                  sudo apt -y update
                  sudo apt -y install --no-install-recommends dvisvgm

            - name: Install doxygen
              uses: ssciwr/doxygen-install@v1
              with:
                  version: "${{ matrix.doxygen }}"

            - name: Install python
              uses: actions/setup-python@v5
              with:
                  python-version: "${{ matrix.python }}"

            - name: Install python dependencies
              run: |
                  python --version
                  python -m pip install --upgrade pip build setuptools wheel

            - uses: actions/checkout@v4
              with:
                  path: repo

            - name: Install poxy
              run: |
                  cd "${{ github.workspace }}/repo"
                  python -m pip install --upgrade .

            - name: Print poxy help and version
              run: |
                  poxy --where
                  poxy --version
                  poxy --doxygen-version
                  poxy --help

            - name: Run poxy on test_project
              run: |
                  cd "${{ github.workspace }}/repo/tests/test_project"
                  poxy
                  poxy --xml
                  poxy --verbose
                  poxy --bug-report
